@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Id</label>
    <input asp-for="Id" readonly class="form-control" placeholder="Disabled input">

</div>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Ferst Name</label>
    <input asp-for="FName" readonly class="form-control" placeholder="Disabled input">

</div>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Last Name</label>
    <input asp-for="LName" readonly class="form-control" placeholder="Disabled input">

</div>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Email</label>
    <input asp-for="Email" readonly class="form-control" placeholder="Disabled input">

</div>





<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
<a asp-action="Index" class="btn btn-light">Cancel</a>