@model UserViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Update" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">FName</label>
        <input asp-for="FName" class="form-control" placeholder="Disabled input">
        <span asp-validation-for="FName" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">LName</label>
        <input asp-for="LName" class="form-control" placeholder="Disabled input">
        <span asp-validation-for="LName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Disabled input">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>



    <input type="Submit" class="btn btn-primary">
    <a asp-action="Index" class="btn btn-light">Back</a>

</form>

