
@{
    ViewData["Title"] = "ChekInpox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			
			<p>A link has been sent to your email to change your password <a href="https://mail.google.com/mail/u/0/#inbox"> Chek Inbox!</a></p>

			
		</div>
	</div>
</div>

