@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="Login">

				<input class="text" type="text" asp-for="Email" required="" placeholder="Email">
				<span class="text-danger" asp-validation-for="Email"></span>

				<input class="text" type="text" asp-for="Password" required="" placeholder="Password">
				<span class="text-danger" asp-validation-for="Password"></span>

				<div class="wthree-text mt-2">
					<label class="anim">
						<input asp-for="IAgree" type="checkbox" class="checkbox">
						<span>I Agree To The Terms & Conditions</span>
					</label>
					<div class="clear"> </div>
				</div>

				<div asp-validation-summary="All"> </div>

				<input type="submit" value="SIGNUP">
			</form>
			<p>have an Account? <a asp-action="Register"> Register Now!</a></p>

			<p> <a asp-action="ForgetPassword"> Forget Password ? </a></p>
		</div>
	</div>
	
	@section ValidationScriptSection{
		<partial name="_ValidationScriptsPartial" />
	}
