@model RegisterViewModel
@{
    ViewData["Title"] = "register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="alert alert-danger"> </div>

<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="Register">

				<input class="text" type="text" asp-for="FName" required="" placeholder="First name">
				<span class="text-danger" asp-validation-for="FName" ></span>

				<input class="text" type="text" asp-for="LName" required="" placeholder="Last name">
				<span class="text-danger" asp-validation-for="LName"></span>

				<input class="text" type="text" asp-for="Email" required="" placeholder="Email">
				<span class="text-danger" asp-validation-for="Email"></span>

				<input class="text" type="text" asp-for="Password" required="" placeholder="Password">
				<span class="text-danger" asp-validation-for="Password"></span>

				<input class="text" type="text" asp-for="ConfirmPassword" required="" placeholder="Confirm Password">
				<span class="text-danger" asp-validation-for="ConfirmPassword"></span>


				<div class="wthree-text">
					<label class="anim">
						<input asp-for="IAgree" type="checkbox" class="checkbox" >
						<span>I Agree To The Terms & Conditions</span>
					</label>
					<div class="clear"> </div>
				</div>


				<div asp-validation-summary="All"> </div>

				<input type="submit" value="SIGNUP">
			</form>
			<p>Don't have an Account? <a asp-action="Login"> Login Now!</a></p>
		</div>
	</div>

	@section ValidationScriptSection{
		<partial name="_ValidationScriptsPartial" />
	}

