@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}





<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="ResetPassword">

				<input class="text" type="text" asp-for="NewPassword" required="" placeholder="New Password">
				<span class="text-danger" asp-validation-for="NewPassword"></span>

				<input class="text" type="text" asp-for="ConfirmNewPassword" required="" placeholder="Confirm New Password">
				<span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>

				<div asp-validation-summary="All"></div>


				<input type="submit" value="Reset Password">
			</form>

		</div>
	</div>

	@section ValidationScriptSection{
		<partial name="_ValidationScriptsPartial" />
	}

