@model DepurtmentViewModelcs
@{
    ViewData["Title"] = "Add";
}

<h1>Add Now Depurtment</h1>

<form asp-action="Add">


    <partial name="PartialView/_CreateEditPartial" />

        <input type="Submit" class="btn btn-primary">
        <a asp-action="Index" class="btn btn-light">Back</a>
   
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}