@model EmployeeViewModelcs
@{
    ViewData["Title"] = "Add";
}

<h3>@ViewBag.Message</h3>

<form asp-action="Add" enctype="multipart/form-data">

    <partial name="PartialView/_CreateEditView" model="@Model" />

    <input type="Submit" class="btn btn-primary">
    <a asp-action="Index" class="btn btn-light">Back</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}

