@model string
<td>
    <a class="  " asp-action="Update" asp-route-id="@Model"><i class="fa-regular fa-pen-to-square"></i></a>

</td>
<td>
    <a class="" asp-action="Details" asp-route-id="@Model"><i class="fa-solid fa-eye"></i></a>
</td>
<td>
    <a class="" asp-action="Delete" asp-route-id="@Model"><i class="fa-solid fa-trash"></i></a>
</td>