@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Delet @Model.Name</h4>
<br />

<form asp-action="Delete" enctype="multipart/form-data">


    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Id</label>
        <input asp-for="Id" readonly class="form-control" placeholder="Disabled input">

    </div>

    <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Name</label>
        <input asp-for="Name" readonly class="form-control" placeholder="Disabled input">

    </div>

    <input type="Submit" value="Delete" class="btn btn-danger" />

    <a asp-action="Index" class="btn btn-light">Cancel</a>

</form>


