@model RoleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Details @Model.Name</h4>
<br />
<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Id</label>
    <input asp-for="Id" readonly class="form-control" placeholder="Disabled input">

</div>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Name</label>
    <input asp-for="Name" readonly class="form-control" placeholder="Disabled input">

</div>


<a type="Submit" asp-action="Update" class="btn btn-danger" >Edit</a>

<a asp-action="Index" class="btn btn-light">Cancel</a>