@model DepurtmentViewModelcs
<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Name</label>
    <input asp-for="Name" id="Name" readonly class="form-control" placeholder="Disabled input">

</div>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">Code</label>
    <input asp-for="Code" id="Code" readonly class="form-control" placeholder="Disabled input">

</div>

<div class="mb-3">
    <label for="disabledTextInput" class="form-label">DataOfCarantion</label>
    <input asp-for="DataOfCarantion" readonly id="DataOfCarantion" class="form-control">

</div>